{% extends "app_manager/app_install_base.html" %}
<!-- load bootstrap from django -->
{% load bootstrap_tags static %}
{% load i18n %}

{% block title %} {{ block.super }} - {% trans "Simple Catalog" %} {% endblock %}}
{% block body %}
<!-- check cartoview/app_manager/views/py (StandardAppViews class) __init__ function-->
    <div id="page-wrapper">
        <div class="container-fluid">
            {% block react_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block extra_script %}
  {% include 'cartoview_simple_catalog/common_js.html' %}
  {% block extra_js %}
  {% endblock %}
  
 {% endblock %}