{% extends 'cartoview_simple_catalog/base.html' %}
{% block styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cartoview_simple_catalog/css/main.css">
{% endblock %}
{% block header_toolbar %}{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}cartoview_simple_catalog/vendor/angular.dcb-img-fallback.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}cartoview_simple_catalog/js/catalog.js"></script>
    <script type="text/javascript">
        var app = angular.module('cartoview.catalogPage', ['cartoview.catalog']);
    </script>

{% endblock %}
{% block body_directives %}ng-app="cartoview.catalogPage"{% endblock %}
{% block body %}
    <catalog catalog-id="{{ catalog_id }}"></catalog>
{% endblock %}



