{% load static cartoview_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ instance.title }} - Simple Catalog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1, user-scalable=no" />  
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}cartoview/img/icon.png" />
    <style>
        html,body {
            height: 100%;
            margin: 0px;
        }
        #root{
            height: 100%
        }
    </style>
</head>
<body>
<div style="height: 100%;" id="root"></div>
{% include 'cartoview_simple_catalog/common_js.html' %}
<script src="{% static 'cartoview_simple_catalog/dist/SimpleCatalog.bundle.js?version=1' %}"></script>
<!-- check cartoview/app_manager/views/py (StandardAppViews class) -->
<script type="text/javascript">

    const props = {{ instance.config | safe }}
    props.title={{instance.title|dump_json}}
    props.abstract={{instance.abstract|dump_json}}
    {% if instance.logo %}
    props.logo={{instance.logo.url|dump_json}}
    {% else %}
    props.logo=undefined
    {% endif %}
    props.thumbnail={{instance.thumbnail_url|dump_json}}
    props.username=username
    // 'show' to render component from 'containers/SimpleCatalog.jsx' 
    SimpleCatalogContainer.show('root', props, urls);
  </script>
</body>
</html>
