<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar style="background: {{ config.toolbarColor }}">
            <div class="md-toolbar-tools">
                <h2>About</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-library="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>{{ title }}</h2>
                <h4>{{ subtitle }}</h4>
                <p>
                    {{ abstract }}
                </p>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="answer('OK')">
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
