<div class="catalog-ct" layout="column" style="width: 100%" layout-align="start center">
    <!-- <div class="catalog-header-ct" layout="column" style="height: 350px;" layout-align="start center" background-image="catalog.config.headerImage">
        <div layout="row" class="catalog-header" style="margin-top: auto;margin-bottom: auto;" ng-class="{hasbg:catalog.config.headerImage}">
            <div ng-if="catalog.config.logo" layout="row" layout-align="center center" layout-padding>
                <img ng-src="{{ catalog.config.logo }}">
            </div>
            <div flex layout="column">
                <h1>{{ catalog.title }}</h1>
                <h2>{{ catalog.config.subTitle }}</h2>
                <p>{{ catalog.abstract }}</p>
            </div>
        </div>
    </div>-->
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <!--<md-button class="md-icon-button" aria-label="Settings">
                <i class="material-icons">menu</i>
            </md-button>-->
            <span><img style="height: 40px; margin-right: 10px" ng-src="{{ catalog.config.logo }}"></span>

            <span flex md-truncate>{{ catalog.title }}</span>
            <div>
                <md-autocomplete
                        type="search"
                        ng-keypress="doSearch($event)"
                        md-selected-item-change="loadCatalog()"
                        md-search-text-change="searchTextChange()"
                        md-search-text="search.text"
                        md-items="item in []"
                        md-item-text="item.title"
                        placeholder="Search...">
                    <span md-highlight-text="search.text">{{ item.title }}</span>
                </md-autocomplete>
            </div>
            <md-menu md-position-mode="target-right target">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                    <i class="material-icons">link</i>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="showAlert($event)">
                            <md-icon md-font-library="material-icons">info</md-icon>
                            About
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>

    <div class="catalog-items-ct">
        <!--<div layout="row" ng-if="catalog.config.enableSearch" layout-align="end end" class="md-padding">
            <md-icon class="catalog-search-icon">search</md-icon>
            <md-autocomplete flex="100" flex-gt-sm="33"
                             type="search"
                             ng-keypress="doSearch($event)"
                             md-selected-item-change="loadCatalog()"
                             md-search-text-change="searchTextChange()"
                             md-search-text="search.text"
                             md-items="item in []"
                             md-item-text="item.title"
                             placeholder="Search...">
                <span md-highlight-text="search.text">{{ item.title }}</span>
            </md-autocomplete>
        </div>-->
        <div layout="row" layout-wrap>
            <div ng-repeat="item in catalog.items" flex="25" flex-sm="33" flex-xs="100" class="md-padding">
                <a layout="column"
                   class="catalog-item md-whiteframe-1dp"
                   ng-class="{'md-whiteframe-6dp':item._hovering}"
                   ng-mouseenter="item._hovering=true;"
                   ng-mouseleave="item._hovering=false;"
                   ng-href="{{ item.urls.view ||  item.urls.details }}"
                   title="{{ item.title }}">
                    <div class="catalog-item-image-ct" layout="row" layout-align="center center">
                        <img ng-src="{{ item.thumbnail || fallbackSrc }}" alt="{{ item.title }}"
                             fallback-src="{{ fallbackSrc }}">
                    </div>

                    <div class="catalog-item-title">
                        <h4>{{ item.title }}</h4>
                    </div>
                </a>
            </div>
        </div>
        <div ng-if="catalog.config.enablePaging && catalog.pages > 1" class="catalog-paging">
            <md-button class="md-raised"
                       ng-repeat="page in getPageNumbers() track by $index"
                       ng-click="loadCatalog(page)"
                       ng-disabled="page == '...'"
                       ng-class="{'md-primary':page==currentPage}">
                {{ page }}
            </md-button>
        </div>
    </div>
</div>
