<md-dialog aria-label="Select Resources" class="catalog-selector-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Select Resources</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <div layout="row">
                <div flex>
                    <md-select placeholder="Filter By" ng-model="selected" style="max-width: 200px">
                        <md-option ng-value="filter=='all'? '' : filter"
                                   ng-repeat="filter in filters">{{ filter }}</md-option>
                    </md-select>
                </div>
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Search</label>
                    <md-icon>search</md-icon>
                    <input ng-model="search.title" type="text">
                </md-input-container>
            </div>
            <div layout="row" layout-wrap layout-align="start start" class="catalog-one-by-one-list-ct">
                <div layout="row" style="width: 100%" layout-wrap layout-align="start start">
                    <div flex="30"
                         ng-repeat="item in allResources | filter:{type:selected}:strict | filter:search:strict"
                         ng-click="toggleItem(item)"
                         layout="row" layout-align="center center"
                         class="item-tpl md-whiteframe-1dp catalog-selector-item"
                         ng-class="{selected:selectedItems.indexOf(item) != -1}">
                        <div flex="60">
                            <img class="item-img" ng-src="{{ item.thumbnail }}">
                            <span class="item-type" ng-if="item.type =='app'">{{ item.app }}</span>
                            <span class="item-type" ng-if="item.type !='app'">{{ item.type }}</span>
                        </div>
                        <div flex="30">
                            <span class="item-title">{{ item.title }}</span>
                        </div>
                        <div class="catalog-selector-check" ng-class="{selected:selectedItems.indexOf(item) != -1}">
                            <md-icon>done</md-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="hide()">
            Ok
        </md-button>
        <!--<md-button ng-click="answer('useful')">
          Cancel
        </md-button>-->
    </md-dialog-actions>
</md-dialog>