{% load static %}
<script>
      {% if PROXY_URL %}
      const PROXY_URL='{{PROXY_URL}}'
      {% else %}
      const PROXY_URL=null
      {% endif %}
      const urls={
        resourcesAPI: "{% url 'api_dispatch_list' api_name='api' resource_name='all_resouces' %}",
        newMap:"{% url "new_map" %}",
        keywordsAPI: "{% url 'api_dispatch_list' api_name='api' resource_name='keywords' %}",
        profilesAPI: "{% url 'api_dispatch_list' api_name='api' resource_name='profiles' %}",
        {% if instance %}
        appInstance: "{% url 'api_dispatch_detail' api_name='api' resource_name='appinstances' pk=instance.id %}",
        appInstancesPage:"{% url 'appinstance_browse' %}?app__name={{instance.app.name}}&app__title={{instance.app.title}}",
        {% else %}
       
        mapDetails:function(id){
          return "/maps/"+id
        },
        appInstance: null,
        {% endif %}
        viewURL:function(id){
          return "/apps/simple_catalog/"+id+"/view/"
        },
        editURL:function(id){
          return "/apps/simple_catalog/"+id+"/edit/"
        },
        proxy: PROXY_URL,
        static: "{{ STATIC_URL }}",
        media: "{{ MEDIA_URL }}",
        apps: "{% url 'app_manager_base_url' %}",
        rest: "{% url 'app_manager_base_url' %}rest/app_manager/",
        geonodeRest: "{% url 'api_api_top_level' 'api' %}",
        noImage:"{% static 'geonode/img/missing_thumb.png' %}",
        appLogo:'{% static 'simple_catalog/logo.png' %}',
        newURL:"{% url "simple_catalog.new" %}",
        {% block extra_urls %}
        {% endblock %}
    }
    {% if instance %}
    const instanceId= {{ instance.id }}
    {% endif %}
    const username="{{request.user.username}}"
</script>
<script src="{{ STATIC_URL }}simple_catalog/dist/commons.js"></script>