{% load static cartoview_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ instance.title }} - Simple Catalog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1, user-scalable=no" />  
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}cartoview/img/icon.png" />
    <style>
        html,body {
            height: 100%;
            margin: 0px;
        }
        #root{
            height: 100%
        }
    </style>
</head>
<body>
<div style="height: 100%;" id="root"></div>
{% include 'simple_catalog/common_js.html' %}
<script src="{% static 'simple_catalog/dist/SimpleCatalog.bundle.js?version=1' %}"></script>
<script type="text/javascript">
    const props = {{ instance.config | safe }}
    props.title={{instance.title|dump_json}}
    props.abstract={{instance.abstract|dump_json}}
    props.username=username
    SimpleCatalogContainer.show('root', props,urls);
  </script>
</body>
</html>
