.catalog-ct{
    background-position: center top;
    background-repeat: no-repeat;
}
.catalog-items-ct{
    max-width: 980px;
    width:100%;
}
.catalog-header-ct{
    width: 100%;
    color: #fff;
}
.catalog-header{
    max-width: 980px;
}
.catalog-header h1{
    margin: 30px 0 0 0;
}
.catalog-header h2{
    margin: 15px 0 0 0;
}
.catalog-paging .md-button{
    min-width: 36px;
}

.catalog-ct md-autocomplete input{
    padding: 0 50px;
}

.catalog-ct md-card md-card-title{
    padding: 5px 10px;
}

.catalog-ct md-card md-card-title .md-headline{
    font-size: 18px;
}

.catalog-ct md-card .md-button span{
    font-size: 12px;
}

.catalog-item{
    text-decoration: none;
    color: rgba(0,0,0,.87);
    max-width: 200px;
    background-color: #ffffff;
}

.catalog-item div.catalog-item-title{
    padding: 15px;
}


.catalog-item div.catalog-item-title h4{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    color: #757575;
}
.catalog-item:hover div.catalog-item-title h4{
    color: #363636;
}
.catalog-search-icon{
    /*position: absolute;*/
    color: #757575;
    z-index: 60;
    pointer-events: none;
    margin: 8px -35px;
}

.catalog-item-image-ct{
    height: 150px;
    overflow: hidden;
    padding: 0;
}
.catalog-item-image-ct img{
    height: auto;
    max-width: none;
    max-height: none;
}